.todolistitem{
    border: 2px solid red;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}